version: "3.9"
services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src:ro
      - ./data:/app/data
      - ./mlruns:/app/mlruns
      - ./mlruns:/home/nabi/credit-risk-model/mlruns
    environment:
      - ENV=dev
      - MLFLOW_TRACKING_URI=file:/app/mlruns
      - MODEL_URI=models:/credit-risk-best-model/Production
